{% extends 'blog/base_blog.html' %}

{% block title %}
Tag create - {{ block.super }}
{% endblock %}

{% block content %}
<form action="{% url 'tag_create_url' %}" method="post">
    {% for field in form %}
    <div class="form-group">
        {% if field.errors %}
        <div class="alert.alert-danger">
            {{ field_errors }}
        </div>
        {% endif %}
        {{ field.label }}
        {{ field }}
    </div>
    {% endfor %}

    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Create Tag</button>
</form>
{% endblock %}